<div
  style="display: flex; flex-direction: column; width: 1000px; overflow: hidden"
>
  <div
    style="
      width: 92%;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      padding: 4%;
    "
  >
    <input type="text" placeholder="Task name or type" style="height: 30px" />
    <textarea type="text" placeholder="Description" rows="7"></textarea>
    <div
      style="width: 100%; display: flex; column-gap: 10px; align-items: center"
    >
      <p>Assigning to</p>
      <p>users</p>
      <p>Estimation Time:</p>
      <input type="number" style="width: 5%; height: 20px" />
      <p>day(s)</p>
      <input type="number" style="width: 5%; height: 20px" />
      <p>hour(s)</p>
      <input type="number" style="width: 5%; height: 20px" />
      <p>min(s)</p>
    </div>
    <button
      mat-button
      color="primary"
      style="
        background-color: blue;
        color: white;
        width: 20%;
        padding: 1%;
        border-color: blue;
        border-radius: 20px;
        align-self: flex-end;
        cursor: pointer;
      "
    >
      CREATE
    </button>
  </div>
</div>
